global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    contimeout 5000
    clitimeout 50000
    srvtimeout 50000

frontend http-in
    bind *:80
    acl is_core          hdr_end(host) -i coreos.dev

    use_backend core      if is_core

backend core
    cookie SERVERID insert nocache indirect
    option httpclose
    option forwardfor
    server Server %IP%:80 cookie Server
