[Unit]
Description=Hourly backup of www and mysql content to a git repo

[Timer]
OnActiveSec=0
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
