[Unit]
Description= Back up mysql and www data to a git repo and optionally push it out

[Service]
Type=oneshot
Environment=DOMAIN=%i
ExecStart=/data/indiehosters/importers/backup-snapshot.sh
