[Unit]
Description=Hourly backup of www and mysql content.

# Dependency binding
BindsTo=universal@%i.service

[Timer]
OnActiveSec=20
OnUnitActiveSec=60min
AccuracySec=50min

