[Unit]
Description=Hourly backup of www and mysql content to a git repo

[Timer]
OnActiveSec=10
OnUnitActiveSec=60min

[Install]
WantedBy=timers.target
