[Unit]
Description=Back up data from %i

[Service]
Type=oneshot
TimeoutStartSec=3000
WorkingDirectory=/data/domains/%i/
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/docker kill clean-%i
ExecStartPre=-/bin/docker rm clean-%i
ExecStartPre=-/bin/docker kill backup-%i
ExecStartPre=-/bin/docker rm backup-%i
ExecStartPre=/bin/bash -euxc ' \
  /bin/docker run \
    --rm \
    --name clean-%i \
    -e PASSPHRASE \
    -v /root:/root \
    indiepaas/duplicity \
      remove-older-than 10D --force \
      sftp://${BACKUP_DESTINATION}//data/%i'
ExecStartPre=/bin/bash -euxc '/data/domains/%i/BACKUP'
ExecStart=/bin/bash -euxc ' \
  /bin/docker run \
    --rm \
    --name backup-%i \
    -e PASSPHRASE \
    -h backup.container \
    --cpu-shares=40 \
    -e PASSPHRASE \
    -v /dev/random:/dev/random \
    -v /dev/urandom:/dev/urandom \
    -v /root:/root \
    -v /data/domains/%i:/backup indiepaas/duplicity \
      --volsize 500 \
      --asynchronous-upload \
      --encrypt-key ${ENCRYPT_KEY} \
        /backup \
        sftp://${BACKUP_DESTINATION}//data/%i'
