[Unit]
Description=%p

# Requirements
Requires=docker.service

# Dependency ordering
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  -v /data/runtime/postfix/:/data \
  -p 25:25 \
  pierreozoux/email-forwarder
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
