[Unit]
Description=Git pull on every git repo

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/bin/bash -euxc ' \
  for directory in `find /data/domaians/ -name .git -type d -prune`;do \
    cd $directory; \
    git pull; \
  done'

