[Unit]
Description=nginx git puller

[Service]
ExecStart=cd /data/per-user/%i/nginx/data/www-content && git pull

[Install]
WantedBy=nginx@%i.service
