[Unit]
Description=%p
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run\
--name %p\
-p 80:80\
-p 443:443\
-v /data/server-wide/haproxy/approved-certs/:/etc/haproxy/approved-certs\
indiehosters/haproxy-confd
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
