[Unit]
Description=%p

# Requirements
Requires=docker.service
Requires=etcd.service

# Dependency ordering
After=docker.service
After=etcd.service
Before=haproxy.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  -v /data/runtime/haproxy/:/etc/haproxy/ \
  -v /data/indiehosters/confd/:/etc/confd/ \
  -v /var/run/docker.sock:/var/run/docker.sock \
  indiehosters/confd
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
