[Unit]
Description=%p

# Requirements
Requires=docker.service

# Dependency ordering
After=docker.service

[Service]
Restart=always
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --rm \
  --name %p \
  -v /dev/log:/dev/log \
  -v /data/runtime/haproxy:/etc/haproxy \
  -p 80:80 \
  -p 443:443 \
  haproxy haproxy -f /etc/haproxy/haproxy.cfg
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p

