[Unit]
Description=MySQL importer

# Dependency ordering
Before=mysql@%i.service

# Dependency binding
BindsTo=mysql@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DOMAIN=%i
ExecStart=/data/indiehosters/importers/mysql.sh

[Install]
WantedBy=mysql@%i.service
