[Unit]  
Description=MySQL importer
Before=mysql@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=USER=%i
ExecStart=/data/indiehosters/importers/mysql.sh

[Install]
WantedBy=mysql@%i.service
