[Unit]
Description=git puller

[Service]
Type=oneshot
ExecStart=/bin/bash -euxc ' \
  app=`echo %p | cut -d"-" -f1`; \
  cd /data/domains/%i/$app/data/www-content; \
  git pull'
