[Unit]
Description=Run git puller service every 10 minutes

# Dependency binding
BindsTo=nginx-gitpuller@%i.path

[Timer]
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
