[Unit]
Description=%p-%i
After=docker.service
Requires=docker.service
Requires=%p-importer@%i.service
After=%p-importer@%i.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStart=/usr/bin/docker run\
--name %p-%i\
-v /data/per-user/%i/%p/data/www-content:/app\
--env-file /data/per-user/%i/%p/.env\
tutum/nginx
ExecReload=/usr/bin/docker restart %p-%i
ExecStop=/usr/bin/docker stop %p-%i

[Install]
WantedBy=multi-user.target
