[Unit]
Description=nginx importer

# Dependency ordering
Before=nginx@%i.service

# Dependency binding
BindsTo=mysql@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DOMAIN=%i
ExecStart=/data/indiehosters/importers/nginx.sh

[Install]
WantedBy=nginx@%i.service
