[Unit]
Description=nginx importer

# Dependency ordering
Before=nginx@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=USER=%i
ExecStart=/data/indiehosters/importers/nginx.sh

[Install]
WantedBy=nginx@%i.service
