[Unit]
Description=%p-%i

# Requirements
Requires=web@%i.service

# Dependency ordering
Before=web@%i.service

[Service]
ExecStart=/bin/bash -euxc ' \
  application_folder=/data/domains/%i/%p/www-content; \
  if [ ! -d $application_folder ]; then \
    mkdir -p $application_folder; \
    echo Hello %i > $application_folder/index.html; \
  fi'

[Install]
WantedBy=multi-user.target

