[Unit]
Description=Run git puller service every 10 minutes

# Dependency binding
BindsTo=static-git@%i.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
