[Unit]
Description=%p-%i

# Requirements
Requires=docker.service
Requires=discovery-u@%i.service
Requires=backup-u@%i.timer

# Dependency ordering
After=docker.service
Before=discovery-u@%i.service
Before=backup-u@%i.timer

[Service]
WorkingDirectory=/data/domains/%i/
ExecStartPre=/bin/cp /data/domains/%i/TLS/%i.pem /data/runtime/haproxy/approved-certs/%i.pem
ExecStart=/bin/bash -euxc '/data/domains/%i/RUN'
ExecStop=/data/domains/%i/STOP

